@charset "UTF-8";

body{
    background-image: linear-gradient(to right, cyan, rgb(162, 51, 206));
    
}

section#primeira{
    text-align: center;
}

@media(max-width: 768px){
    section#princ{ 
        flex-direction: column;
        
    }
}

#princ{
    background-color: rgba(0, 0, 0, 0.589);
    width: 700px;
    height: 700px;
    margin: auto;
    border-radius: 10px;
    border-style:outset;
    
}

img{
   margin: auto;
   border-radius: 10px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.767);
   margin: 20px;
}


