@charset "UTF-8";

body{
    background-image: linear-gradient(to right, cyan, rgb(162, 51, 206));
    background-repeat: no-repeat;
    
}
nav{
    background-color: rgba(0, 0, 255, 0.61);
    padding: 10px;
    box-shadow: 0px 7px 9px black;

 }
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color:white;
    color:black;
}



section#primeira{
    text-align: center;
}


#princ{
    background-color: rgba(0, 0, 0, 0.048);
    width: 700px;
    height: 550px;
    margin: auto;
    border-radius: 10px;
    text-align: center;

}

.picture{
   border-radius: 10px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.767);
   margin: 10px;
}


