@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


body{
    background: linear-gradient(-45deg, #2C3333,#395B64,#FFBC80,#F5F2E7);
    background-size: 300% 300%;
    animation: change 10s ease-in-out infinite;
    
}
@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
    
    
}

.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(2, 2, 2, 0.8);
    border-radius: 7px;
    margin-top: 15vh;
    
}
.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top: 40%;
    left: 50%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(6){
    top: 60%;
    left: 70%;
    animation: animate 12s linear infinite;
}
.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}
.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}
.box div:nth-child(9){
    top: 60%;
    left: 25%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}
@keyframes animate{
        0%{
            transform: scale(0) translateY(0) rotate(0);
            opacity: 1;
        }
        100%{
            transform: scale(1.3) translateY(-90px) rotate(360deg);
            opacity: 0;
        }
}


div.conteudo{
    width: 350px;
    padding: 10px;
    border-end-end-radius:20px; 
    border-top-left-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(69, 114, 173, 0.541);
    box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.322);
    z-index: 1;

}
h1{
    text-align: center;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}

input.dig{
    padding: 15px;
    border-style: none;
    border-radius: 7px;
    width: 250px;
    height: 20px;
    font-size: 1em;
    font-family: var(--fonte2);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.322);
    background-color: rgba(255, 255, 255, 0.664);
    font-family: 'Montserrat', sans-serif;
   
    
    
}
input#botao{
    padding: 5px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    font-size: 1.3em ;
    font-family: var(--fonte1);
    text-align: center;
    cursor: pointer;
    border-style: none;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.233);
    background-color: rgba(255, 255, 255, 0.664);
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;

    
}
input#botao:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: white;
}


p#paragrafo{
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bolder
}
#tres{
    padding: 5px;
    font-size: 2em;
    color: #332c41;
}
#icons{
    font-size: 1.4em;
    color: #1d2222;
}

