@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(-45deg, #2C3333,#395B64,#FFBC80,#F5F2E7);
    background-size: 300% 300%;
    animation: change 10s ease-in-out infinite;
}
@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
    
    
}

nav{
    height: 10vh;
    background: #5b78c7;

}

.nav-links{
    display: flex;  
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

h1{
    margin: 100px;
    font-size: 40px;   
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;  
}
.nav-links li:hover{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: wheat;
    transition: 0.5s;

}


@media screen and (max-width: 768px){
  
    .line{
        width: 30px;
        height: 3px;
        background: white;    
        margin: 5px;
      

    }
    nav{
        position: relative; 
    }

    .hamburguer{
        position: absolute;  
        cursor: pointer;  
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
  
    .nav-links{
        position: fixed;
        background: #5b78c7;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        z-index: 1;
        
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
        
        
    }
    .nav-links li{
        opacity: 0;
        
    }
    .nav-links li a {
        font-size: 25px;
    
    }
    .nav-links li:hover{
        background-color: rgba(84, 84, 212, 0.568);
        border-radius: 7px;
        padding-left: 180px;
        padding-right: 180px;
        padding-top: 60px;
        padding-bottom: 60px;
        font-weight: bolder;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    li.fade{
        opacity: 1;
    }
    

}
.perfil{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5em;
}


section#primeira{
    text-align: center;
}



.picture{
   border-radius: 10px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.767);
   margin: 10px;
}
.picture:hover{
    transform: scale(1.2);
    transition: all 0.5s ease-out;   
}

footer{
    background-color: rgba(16, 16, 172, 0.623);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    font-size: 1em;
    text-align: center;
    padding-top: 15px;
    z-index: 1;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: black;

}


